import { gql } from "../../../../../../index";
static const QUERY = gql`
  query($name: String) {
    hello(name: $name)
  }
`;

class {
  onCreate() {
    this.state = { mounted: false }
  }
  onMount() {
    this.state = { mounted: true }
  }
}

<if(state.mounted)>
  <gql-query query=QUERY variables={ name: "John" }>
    <@then|{ data }|><span>${data.hello}</span></@then>
  </gql-query>
</if>
