import { gql } from "../../../../../../index";
static const QUERY = gql`
  query($name: String) {
    hello(name: $name)
  }
`;
class {
  onCreate() {
    this.state = { name: "John" }
  }
  handleClick() {
    this.state.name = this.state.name === "John" ? "Jake" : "John"
  }
}

<gql-query query=QUERY variables={ name: state.name } requestPolicy="network-only" >
  <@then|{ data, fetching }|>
    <if(fetching)>
      <span>Stale</span>
    </if>
    <span>${data.hello}</span>
    <button on-click("handleClick")>Toggle</button>
  </@then>
</gql-query>
